In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file_path = 'weatherAUS.csv'

df = pd.read_csv(file_path)

In [2]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [4]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [5]:
print(df.isnull().sum())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

DATA CLEANING

In [6]:
df.duplicated().sum()

0

In [7]:
# Hapus kolom dengan missing value > 40%
df = df.drop(columns=['Evaporation', 'Sunshine', 'Cloud9am', 'Cloud3pm'])

In [8]:
# Isi missing numerik dengan median
num_cols = ['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm',
            'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm']

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [9]:
# Isi missing kategorikal dengan modus
cat_cols = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

ENCODING

In [10]:
# Ubah Date ke datetime dan ekstrak fitur waktu
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['DayOfWeek'] = df['Date'].dt.dayofweek

In [11]:
df.drop(columns=['Date'], inplace=True)

In [12]:
df = pd.get_dummies(df, columns=['Location'], drop_first=True)
location_cols = [col for col in df.columns if col.startswith('Location_')]
df[location_cols] = df[location_cols].astype('int8')

In [13]:
df["RainToday"] = df["RainToday"].map({"No": 0, "Yes": 1})
df["RainTomorrow"] = df["RainTomorrow"].map({"No": 0, "Yes": 1})

In [14]:
from sklearn.preprocessing import OneHotEncoder

# Mapping arah angin ke derajat
wind_direction_map = {
    "N": 0, "NNE": 22.5, "NE": 45, "ENE": 67.5,
    "E": 90, "ESE": 112.5, "SE": 135, "SSE": 157.5,
    "S": 180, "SSW": 202.5, "SW": 225, "WSW": 247.5,
    "W": 270, "WNW": 292.5, "NW": 315, "NNW": 337.5
}

# Fungsi encoding siklis
def encode_cyclic_feature(df, column):
    df[column + "_deg"] = df[column].map(wind_direction_map)  # Konversi ke derajat
    df[column + "_sin"] = np.sin(np.deg2rad(df[column + "_deg"]))
    df[column + "_cos"] = np.cos(np.deg2rad(df[column + "_deg"]))
    df.drop(columns=[column, column + "_deg"], inplace=True)  # Hapus kolom asli
    return df

# Terapkan encoding ke semua kolom arah angin
for col in ["WindGustDir", "WindDir9am", "WindDir3pm"]:
    df = encode_cyclic_feature(df, col)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 72 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   MinTemp                    145460 non-null  float64
 1   MaxTemp                    145460 non-null  float64
 2   Rainfall                   145460 non-null  float64
 3   WindGustSpeed              145460 non-null  float64
 4   WindSpeed9am               145460 non-null  float64
 5   WindSpeed3pm               145460 non-null  float64
 6   Humidity9am                145460 non-null  float64
 7   Humidity3pm                145460 non-null  float64
 8   Pressure9am                145460 non-null  float64
 9   Pressure3pm                145460 non-null  float64
 10  Temp9am                    145460 non-null  float64
 11  Temp3pm                    145460 non-null  float64
 12  RainToday                  145460 non-null  int64
 13  RainTomorrow               145460 non-null  int64
 14  Year                       145460 non-null  int32
 15  Month                      145460 non-null  int32
 16  Day                        145460 non-null  int32
 17  DayOfWeek                  145460 non-null  int32
 18  Location_Albany            145460 non-null  int8
 19  Location_Albury            145460 non-null  int8
 20  Location_AliceSprings      145460 non-null  int8
 21  Location_BadgerysCreek     145460 non-null  int8
 22  Location_Ballarat          145460 non-null  int8
 23  Location_Bendigo           145460 non-null  int8
 24  Location_Brisbane          145460 non-null  int8
 25  Location_Cairns            145460 non-null  int8
 26  Location_Canberra          145460 non-null  int8
 27  Location_Cobar             145460 non-null  int8
 28  Location_CoffsHarbour      145460 non-null  int8
 29  Location_Dartmoor          145460 non-null  int8
 30  Location_Darwin            145460 non-null  int8
 31  Location_GoldCoast         145460 non-null  int8
 32  Location_Hobart            145460 non-null  int8
 33  Location_Katherine         145460 non-null  int8
 34  Location_Launceston        145460 non-null  int8
 35  Location_Melbourne         145460 non-null  int8
 36  Location_MelbourneAirport  145460 non-null  int8
 37  Location_Mildura           145460 non-null  int8
 38  Location_Moree             145460 non-null  int8
 39  Location_MountGambier      145460 non-null  int8
 40  Location_MountGinini       145460 non-null  int8
 41  Location_Newcastle         145460 non-null  int8
 42  Location_Nhil              145460 non-null  int8
 43  Location_NorahHead         145460 non-null  int8
 44  Location_NorfolkIsland     145460 non-null  int8
 45  Location_Nuriootpa         145460 non-null  int8
 46  Location_PearceRAAF        145460 non-null  int8
 47  Location_Penrith           145460 non-null  int8
 48  Location_Perth             145460 non-null  int8
 49  Location_PerthAirport      145460 non-null  int8
 50  Location_Portland          145460 non-null  int8
 51  Location_Richmond          145460 non-null  int8
 52  Location_Sale              145460 non-null  int8
 53  Location_SalmonGums        145460 non-null  int8
 54  Location_Sydney            145460 non-null  int8
 55  Location_SydneyAirport     145460 non-null  int8
 56  Location_Townsville        145460 non-null  int8
 57  Location_Tuggeranong       145460 non-null  int8
 58  Location_Uluru             145460 non-null  int8
 59  Location_WaggaWagga        145460 non-null  int8
 60  Location_Walpole           145460 non-null  int8
 61  Location_Watsonia          145460 non-null  int8
 62  Location_Williamtown       145460 non-null  int8
 63  Location_Witchcliffe       145460 non-null  int8
 64  Location_Wollongong        145460 non-null  int8
 65  Location_Woomera           145460 non-null  int8
 66  WindGustDir_sin            145460 non-null  float64
 67  WindGustDir_cos            145460 non-null  float64
 68  WindDir9am_sin             145460 non-null  float64
 69  WindDir9am_cos             145460 non-null  float64
 70  WindDir3pm_sin             145460 non-null  float64
 71  WindDir3pm_cos             145460 non-null  float64
dtypes: float64(18), int32(4), int64(2), int8(48)
memory usage: 31.1 MB

In [16]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score
import joblib

In [17]:
# Membagi data untuk prediksi cuaca (RainToday)
X_rain = df[['Rainfall', 'Humidity9am', 'Humidity3pm', 'RainTomorrow']]
y_rain = df['RainToday']

X_train_rain, X_test_rain, y_train_rain, y_test_rain = train_test_split(X_rain, y_rain, test_size=0.2, random_state=42)

# Membuat model RandomForestClassifier untuk prediksi cuaca
model_rain = RandomForestClassifier(n_estimators=100, random_state=42)
model_rain.fit(X_train_rain, y_train_rain)

# Evaluasi model
y_pred_rain = model_rain.predict(X_test_rain)
accuracy_rain = accuracy_score(y_test_rain, y_pred_rain)
print(f'Accuracy for RainToday Prediction: {accuracy_rain}')

# Menyimpan model cuaca
joblib.dump(model_rain, 'model cuaca.pkl')

Accuracy for RainToday Prediction: 1.0

['model cuaca.pkl']

In [18]:
# Membagi data untuk prediksi suhu (MaxTemp)
X_temp = df[['MinTemp', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am', 'Temp3pm', 'WindDir9am_sin']]
y_temp = df['MaxTemp']

X_train_temp, X_test_temp, y_train_temp, y_test_temp = train_test_split(X_temp, y_temp, test_size=0.2, random_state=42)

# Membuat model RandomForestRegressor untuk prediksi suhu
model_temp = RandomForestRegressor(n_estimators=100, random_state=42)
model_temp.fit(X_train_temp, y_train_temp)

# Evaluasi model
y_pred_temp = model_temp.predict(X_test_temp)
mse_temp = mean_squared_error(y_test_temp, y_pred_temp)
print(f'Mean Squared Error for MaxTemp Prediction: {mse_temp}')

# Menyimpan model suhu
joblib.dump(model_temp, 'model suhu.pkl')

Mean Squared Error for MaxTemp Prediction: 1.2790107010087375

['model suhu.pkl']

In [19]:
# Membagi data untuk prediksi tekanan (Pressure3pm)
X_pressure = df[['MinTemp', 'MaxTemp', 'WindGustSpeed', 'Pressure9am', 'Temp9am', 'Temp3pm']]
y_pressure = df['Pressure3pm']

X_train_pressure, X_test_pressure, y_train_pressure, y_test_pressure = train_test_split(X_pressure, y_pressure, test_size=0.2, random_state=42)

# Membuat model RandomForestRegressor untuk prediksi tekanan
model_pressure = RandomForestRegressor(n_estimators=100, random_state=42)
model_pressure.fit(X_train_pressure, y_train_pressure)

# Evaluasi model
y_pred_pressure = model_pressure.predict(X_test_pressure)
mse_pressure = mean_squared_error(y_test_pressure, y_pred_pressure)
print(f'Mean Squared Error for Pressure3pm Prediction: {mse_pressure}')

# Menyimpan model tekanan
joblib.dump(model_pressure, 'model tekanan.pkl')

Mean Squared Error for Pressure3pm Prediction: 2.5243836115908462

['model tekanan.pkl']

In [20]:
# Membagi data untuk prediksi kelembaban (Humidity9am)
X_humidity = df[['MaxTemp', 'WindSpeed9am', 'Humidity3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow']]
y_humidity = df['Humidity9am']

X_train_humidity, X_test_humidity, y_train_humidity, y_test_humidity = train_test_split(X_humidity, y_humidity, test_size=0.2, random_state=42)

# Membuat model RandomForestRegressor untuk prediksi kelembaban
model_humidity = RandomForestRegressor(n_estimators=100, random_state=42)
model_humidity.fit(X_train_humidity, y_train_humidity)

# Evaluasi model
y_pred_humidity = model_humidity.predict(X_test_humidity)
mse_humidity = mean_squared_error(y_test_humidity, y_pred_humidity)
print(f'Mean Squared Error for Humidity9am Prediction: {mse_humidity}')

# Menyimpan model kelembaban
joblib.dump(model_humidity, 'model kelembaban.pkl')

Mean Squared Error for Humidity9am Prediction: 92.12890620941116

['model kelembaban.pkl']